/*! partie DESKTOP */

@media screen and (min-width: 741px) {
  /*! partie acceuil */
  .indexmain {
    display: flex;
    justify-content: center;
    .presentation {
      display: flex;
      justify-content: center;
      margin: 20rem 10rem 30rem 10rem;
      padding: 50px 10px;
      flex-direction: column;
      max-width: 60rem;
      h2 {
        text-align: center;
        padding: 5px 1em 1rem 2em;
      }
      p {
        padding: 1rem 3rem 0;
      }
    }
  }
  /*! partie catalogue */
  .container_card {
    display: flex;
    justify-content: center;
    padding: 10rem 0 3rem 0;

    .card {
      display: flex;

      background-color: var(--background-box-color);
      border-radius: 1rem;
      border: solid 5px var(--shadow-box-color);
      max-width: 50rem;
      height: 20rem;
      .avatar {
        display: flex;
        align-items: center;
        img {
          border: solid 5px var(--border-img);
          background-color: var(--background-img);
          border-radius: 100%;
          width: 60%;
          margin: 3rem;
        }
      }
      .rightcard {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        .social {
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          a {
            img {
              width: 3.5rem;
            }
          }
        }
      }
    }
  }
  .container_deck {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 0 18rem 0;
    margin-bottom: 5rem;
    h2 {
      padding-bottom: 3rem;
    }
    .deck {
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      background-color: var(--background-box-color);
      max-width: 60%;
      border-radius: 1rem;
      border: solid 5px var(--shadow-box-color);
      .button_left {
        height: 3.1rem;
        width: 3.1rem;
        background: url(/assets/catalogue/left-arrow.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        border: none;
        margin-left: 1rem;
      }
      .button_right {
        height: 3.1rem;
        width: 3.1rem;
        background: url(/assets/catalogue/right-arrow.svg);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        border: none;
        margin-right: 1rem;
      }
      ul {
        display: flex;
        justify-content: center;
        .img_wrap {
          width: auto;
          button {
            border: none;
            background-color: var(--background-box-color);
            img {
              margin: 1rem;
              width: 75%;
              border-radius: 100%;
              background-color: var(--background-img);
              border: solid 2px var(--border-img);
            }
          }
        }
      }
    }
  }
  .card_foot {
    bottom: 0;
    width: 100%;
    background-color: var(--primary-color);
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 1rem;
    a {
      text-decoration: underline;
      padding: 1rem;
    }
  }

  /*! partie formulaire */
  .mainform {
    display: flex;
    justify-content: center;

    .formulaire {
      margin: 5rem 1rem;
      padding: 2rem;
      max-width: 40rem;

      h2 {
        text-align: center;
        padding: 1rem 0;
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;

        label {
          padding-left: 1rem;
          font-size: large;
        }

        input {
          border-radius: 2rem;
          height: 2rem;
          padding: 1rem;
          outline: none;
        }

        select {
          border-radius: 2rem;
          height: 2rem;
          padding: 0 1rem;
          outline: none;
        }

        textarea {
          border-radius: 2rem;
          height: 20rem;
          padding: 1rem;
          outline: none;
          background-color: #fefeff;
        }

        .bouton {
          border-radius: 2rem;
        }
      }
    }
  }
}
