/*! partie DESKTOP */

@media screen and (min-width: 741px) {
  /*! partie acceuil */

  /*! partie catalogue */

  /*! partie formulaire */
  .mainform {
    display: flex;
    justify-content: center;
    .formulaire {
      background-color: #424242;
      border-radius: 1rem;
      margin: 10rem 2rem;
      padding: 2rem;
      width: 50%;

      h2 {
        text-align: center;
        padding: 1rem 0;
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;

        label {
          padding-left: 1rem;
          font-size: large;
        }

        input {
          border-radius: 2rem;
          height: 2rem;
          padding: 1rem;
          outline: none;
        }

        select {
          border-radius: 2rem;
          height: 2rem;
          padding: 0 1rem;
          outline: none;
        }

        textarea {
          border-radius: 2rem;
          height: 20rem;
          padding: 1rem;
          outline: none;
          background-color: #fefeff;
        }

        .bouton {
          padding: 0;
        }
      }
    }
  }
}
