@media screen and (max-width: 425px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background-image: url(assets/4525039-binaire-code-background-abstract-technology-digital-binary-data-and-secure-data-concept-gratuit-photo.jpg);
  }
  .card {
    max-width: 22rem;
    border: solid 0.5rem #2686ff;
    border-radius: 1.5%;
    margin: auto;

    .maincard {
      background-color: #c8e2f3;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;

      padding: 0.5rem;
      .topcard {
        width: 100%;
        display: flex;
        justify-content: center;
        border-radius: 0.5rem;
        background-color: #18487f;
        h2 {
          margin: 1rem;
          color: #c8e2f3;
        }
      }
      .avatar {
        display: flex;
        justify-content: center;
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
        img {
          border-radius: 100%;
          width: 70%;
          background-color: white;
        }
      }
      .skills {
        border-radius: 0.5rem;
        background-color: #18487f;
        p {
          padding: 0 1rem;
          color: #c8e2f3;
        }
      }
      .bottomcard {
        p {
          margin: 1rem 0 0 0;
        }
      }
    }
  }
  #formulaire {
    margin: 1rem;
    border-radius: 2rem;
    padding: 1rem;
    h2 {
      text-align: center;
      padding: 0.5rem;
      border: 4px solid black;
      border-radius: 5rem;
      margin-bottom: 1rem;
    }
    .form {
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: auto;
      gap: 1rem 0.2rem;
      div {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 0.1rem;
        input,
        select {
          border: 2px solid black;
          border-radius: 1rem;
          text-align: center;
          padding: 0.5rem;
        }
        textarea {
          border: 2px solid black;
          border-radius: 1rem;
          padding: 0.5rem;
        }
      }
      .eform1 {
        grid-column-start: 1;
        grid-column-end: 3;
      }
      .eform2 {
        grid-column-start: 1;
        grid-column-end: 2;
      }
      .eform3 {
        grid-column-start: 2;
        grid-column-end: 3;
      }
      .eform4 {
        grid-column-start: 1;
        grid-column-end: 3;
      }
      .eform5 {
        grid-column-start: 1;
        grid-column-end: 3;
      }
      .eform6 {
        grid-column-start: 1;
        grid-column-end: 3;
        justify-self: center;
      }
    }
  }
}
