/*! partie TELEPHONE */

@media screen and (max-width: 740px) {
  /*! partie accueil */
  .presentation {
    display: flex;
    justify-content: center;
    margin: 5%;
    padding: 50px 10px;
    flex-direction: column;

    .h2 {
      justify-content: center;
      }
       .p {
        padding: 1rem;
       }
   
  }

  /*! partie catalogue */
  .container_card {
    display: flex;
    padding: 10rem 2rem 3rem 2rem;

    .card {
      display: flex;
      background-color: #424242;
      border-radius: 1rem;
      border: solid 5px white;
      .avatar {
        display: flex;
        align-items: center;
        img {
          border: solid 5px white;
          background-color: #717171;
          border-radius: 100%;
          width: 60%;
          margin: 1rem 0 1rem 1rem;
        }
      }
      .rightcard {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 1rem 0.5rem;
        .social {
          display: flex;
          align-items: center;
          gap: 10%;
          a {
            img {
              width: 2.5rem;
            }
          }
        }
      }
    }
  }

  .container_deck {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 0 45rem 0;
    h2 {
      display: none;
    }
    .deck {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      background-color: #424242;
      max-width: 90%;
      border-radius: 1rem;
      border: solid 5px white;
      .button_left {
        height: 3.1rem;
        width: 3.3rem;
        margin-left: 1rem;
        background: url(/assets/left-arrow.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        border: none;
      }
      .button_right {
        height: 3.1rem;
        width: 3.3rem;
        background: url(/assets/right-arrow.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        border: none;
        margin-right: 1rem;
      }
      ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .img_wrap {
          width: 7rem;
          img {
            margin: 1rem;
            width: 75%;
            border-radius: 100%;
            background-color: #717171;
            border: solid 2px white;
          }
        }
      }
    }
  }
  .card_foot {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #1a237e;
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 1rem;
    a {
      text-decoration: underline;
      padding: 1rem;
    }
  }
}
/*! partie formulaire */
.mainform {
  display: flex;
  justify-content: center;

  .formulaire {
    background-color: #424242;
    border-radius: 1rem;
    margin: 5rem 1rem;
    padding: 2rem;
    width: 70%;
    .formulaire {
      background-color: var(--background-box-color);
      border-radius: 1rem;
      border: 5px solid var(--shadow-box-color);
      margin: 5rem 1rem;
      padding: 2rem;
      width: 70%;

      h2 {
        text-align: center;
        padding: 1rem 0;
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;

        label {
          padding-left: 1rem;
        }

        input {
          border-radius: 2rem;
          height: 2rem;
          padding: 1rem;
          outline: none;
        }

        select {
          border-radius: 2rem;
          height: 2rem;
          padding: 0 1rem;
          outline: none;
        }

        textarea {
          border-radius: 2rem;
          height: 20rem;
          padding: 1rem;
          outline: none;
        }

        .bouton {
          padding: 0;
        }
      }
    }
  }
}
