/*! partie générale influence sur toute les page HTML */
:root {
  font-family: "Noto Sans", sans-serif;
  --primary-color: #1a237e;
  --shadow-color: #0d47a1;
  --background-box-color: #424242;
  --shadow-box-color: #757575;
  --text-color: #fefeff;
  --border-img: #d0d0d0;
  --background-img: #717171;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(assets/fondecran.png);
  background-repeat: no-repeat;
  background-size: cover;

  nav {
    ul {
      background-color: var(--primary-color);
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 1rem;
      img {
        width: 3rem;
      }
    }
  }

  h1,
  h2,
  p,
  a,
  label,
  figcaption {
    color: var(--text-color);
    text-decoration: none;
  }

  .success-message {
    color: var(--text-color);
    background-color: var(--primary-color);
    border: 5px solid var(--shadow-color);
    border-radius: 2rem;
    text-align: center;
    padding: 1rem;
  }

  footer {
    background-color: var(--primary-color);
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 1rem;
    a {
      text-decoration: underline;
      padding: 1rem;
    }
  }
}
