* {
  padding: 0;
  box-sizing: border-box;
  background-color: white;
  font-family: "Noto Sans", sans-serif;
}

.card {
  background-color: aqua;
  max-width: 22rem;
  border: solid 0.5rem black;
  border-radius: 1.5%;

  .maincard {
    background-color: aqua;
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem;
    .topcard {
      width: 100%;
      display: flex;
      justify-content: center;
      background-color: aqua;
    }
    p {
      background-color: aqua;
    }
    .avatar {
      width: 100%;
    }
  }
}
