:root {
  font-family: "Noto Sans", sans-serif;
  background-image: url(assets/4525039-binaire-code-background-abstract-technology-digital-binary-data-and-secure-data-concept-gratuit-photo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
